{% extends 'base.html'%}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Lista de Estudiantes</h1>

{% if estudiantes %}
<div class="h-full overflow-x-auto rounded-3xl border border-gray-300 shadow-xl dark:border-gray-600 dark:bg-gray-900">
    <table class="min-w-full divide-y-2 divide-gray-200 dark:divide-gray-700">
        <thead class="bg-green-200 tr:text-left rtl:text-right">
            <tr class="*:font-medium dark:*:text-white">
                <th class="text-center px-3 py-2 whitespace-nowrap">RUT</th>
                <th class="text-center px-3 py-2 whitespace-nowrap">Nombres</th>
                <th class="text-center px-3 py-2 whitespace-nowrap">Apellidos</th>
                <th class="text-center px-3 py-2 whitespace-nowrap">Edad</th>
                <th class="text-center px-3 py-2 whitespace-nowrap">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for estudiante in estudiantes %}
            <tr class="*:first:font-medium dark:*:text-white">
                <td class="text-center px-3 py-2 whitespace-nowrap">{{ estudiante.rut }}</td>
                <td class="text-center px-3 py-2 whitespace-nowrap">{{ estudiante.first_name }}</td>
                <td class="text-center px-3 py-2 whitespace-nowrap">{{ estudiante.last_name }}</td>
                <td class="text-center px-3 py-2 whitespace-nowrap">{{ estudiante.edad }}</td>
                <td class="flex gap-4 justify-center px-3 py-2 whitespace-nowrap">
                    {% if estudiante.tiene_paci %}
                    <a class="w-40 text-center rounded-xl bg-green-600 px-4 py-2 text-white font-medium hover:bg-green-700 transition-colors shadow-sm"
                        href="{% url 'paciApp:pdf_paci' estudiante.id %}">
                        Descargar P.A.C.I.
                    </a>

                    {% if estudiante.tiene_instrumento %}
                    <a class="w-40 text-center rounded-xl bg-emerald-600 px-4 py-2 text-white font-medium hover:bg-emerald-700 transition-colors shadow-sm"
                        href="{% url 'instrumentosApp:evaluar' estudiante.id %}">
                        Ver Instrumento
                    </a>
                    {% else %}
                    {% if estudiante.tiene_nota %}
                    <a class="w-40 text-center rounded-xl bg-emerald-600 px-4 py-2 text-white font-medium hover:bg-emerald-700 transition-colors shadow-sm"
                        href="{% url 'instrumentosApp:notas' estudiante.id %}">
                        Ver notas
                    </a>
                    {% else %}
                    <a class="w-40 text-center rounded-xl bg-emerald-600 px-4 py-2 text-white font-medium hover:bg-emerald-700 transition-colors shadow-sm"
                        href="{% url 'instrumentosApp:instrumentos_list' estudiante.id %}">
                        Evaluar estudiante
                    </a>
                    {% endif %}

                    <a class="w-40 text-center rounded-xl bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-700 transition-colors shadow-sm"
                        href="{% url 'coreApp:send_mail' estudiante.id %}">
                        Enviar correo
                    </a>
                    {% endif %}

                    {% else %}
                    <a class="w-40 text-center rounded-xl bg-green-600 px-4 py-2 text-white font-medium hover:bg-green-700 transition-colors shadow-sm"
                        href="{% url 'paciApp:paci_list' estudiante.id %}">
                        Agregar P.A.C.I.
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No hay estudiantes registrados.</p>
{% endif %}

{% endblock %}